:root {
  --visualization-height: 560px;
  --controls-width: 240px;
}

@keyframes incubation {
  0% {
    transform: scale(1.5, 1.5);
  }

  10% {
    background-color: white;
  }

  90% {
    background-color: #ffff00;
    transform: scale(1, 1);
  }

  100% {
  }
}

@keyframes infectious {
  0% {
    transform: scale(1.5, 1.5);
  }

  10% {
    background-color: white;
  }

  90% {
    background-color: #ff7090;
    transform: scale(1, 1);
  }

  100% {
  }
}

@keyframes post-infection {
  0% {
    transform: scale(1.5, 1.5);
  }

  10% {
    background-color: white;
  }

  90% {
    background-color: #0077cc;
    transform: scale(1, 1);
  }

  100% {
  }
}

@keyframes clean {
  0% {
  }

  10% {
    background-color: white;
  }

  90% {
    background-color: #44ff00;
  }

  100% {
    background-color: #44ff00;
  }
}

@keyframes linkInfection {
  0% {
  }

  5% {
    border-width: 4px;
    border-color: red;
    background-color: darkred;
  }

  50% {
    border-width: 2px;
  }

  95% {
    border-width: 1px;
  }

  100% {
    border-color: black;
    background-color: black;
  }
}

input[type="number"], select {
  border-color: #afafaf;
  background-color: #fcfcfc;
  border-width: 1.5px;
  border-radius: 4px;
  width: 60px;
  box-sizing: border-box;
}

select {
  width: 90px;
  white-space: normal;
}

select:hover {
  border-width: 2px;
}

body {
  margin: 8px;
  text-align: center;
  font: 16px / 16px "Roboto", helvetica, sans-serif;
}

header {
  font: 24px / 16px "Roboto Mono", helvetica, sans-serif;
}

header h1 {
  margin: 0.75em auto 1.25em;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  min-height: var(--visualization-height);
}

#visualization {
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 600px;
}

.bubble {
  display: inline-block;
  padding: 0.5em;
  border-radius: 100%;
  border: 0.5px solid rgba(190, 190, 190, 0.2);
  background-color: rgba(145, 180, 255, 0.5);
}

.bubble:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle {
  margin: 0;
  padding: 0;
  color: black;
  appearance: none;
  display: inline-block;
  border-radius: 100%;
  border: 0.5px solid black;
}

.circle.mask {
  border-style: dashed;
}

.circle:hover {
  border-width: 2px;
  border-color: grey;
}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle.clean {
  background-color: #44ff00;
  animation-name: clean;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.circle.incubating {
  background-color: #ffff00;
  animation-name: incubation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.circle.symptomatic {
  background-color: #ff7090;
  animation-name: infectious;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.circle.post-infection {
  background-color: #0077cc;
  animation-name: post-infection;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.link {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: black;
}

.link.infection {
  animation-name: linkInfection;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.controls {
  min-width: var(--controls-width);
  margin: 0 auto 0 0.5em;
}

.controls-group {
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  margin: 0.75em 0;
}

.controls-group:first-child {
  margin-top: 0;
}

.controls-group label {
  color: #5a5a5a;
}

.controls-group img {
  border: 1px solid #eeeeee;
  width: 32px;
  height: auto;
  margin-left: 0.5em;
  transform: translateY(0.333em);
  padding: 1px;
}

.controls-group section {
  padding: 0.5em 0 0 0;
}

.controls-group section:last-child {
  padding-bottom: 0.5em;
}

.controls-group section[id*="title"] {
  padding: 0.5em 0 0 0;
}

.controls-group-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-lower {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}

.results {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #fff;
  margin: 0 1em;
  min-width: var(--controls-width);
  margin: 0 auto 0 0.5em;
}

.results section {
  margin: 1rem;
  align-self: center;
}

.legend {
  display: flex;
  align-self: center;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
}

.legend .row {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 0.5em 1em 0;
}

.legend .row .column {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.legend .row .column div {
  width: 20px;
  margin: 0 auto;
}

footer {
  font-family: "Roboto", cursive;
  margin-top: 2em;
}
